.imgproduto {
  background-color: aliceblue;
  color: blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 16px double orange;
  border-radius: 32px;
  padding: 2rem;
  margin: 2rem;
  display: flex;
}

.grupo__producto {
  padding: 10px;
  text-align: center;
}

.imgproducto__frascos {
  border: 5px solid #cf9d9d;
  border-radius: 5px;
  width: 50%;
  height: 230px;
  object-fit: contain;
}

.imgproducto__texto {
  color: grey;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 20px 10px 30px 10px;
}

.imgproducto__comprar {
  background-color: navy;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /*display: inline-block;
    position: absolute;
    right: 0.8rem;
    top: 1rem;*/
}

.imgproducto__comprar--2 {
  top: 24rem;
  left: 55rem;
  right: unset;
}

.nav {
  padding: 1rem;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav__item {
  margin: 1rem;
}

.nav__enlace {
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Modelo Caja */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  font-size: small;
}

h2 {
  font-size: large;
}

main section {
  color: purple;
  font-style: italic;
  text-align: center;
}

.produtos1 {
  background-color: darkorange;
  border: 2px solid  chocolate;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtos1__texto {
  font-size: 70px;
}

.producto1__precio {
  font-size: 20px;
  font-style: italic;
  margin: 0.5rem;
  align-self: center;
}

.producto1__cargos {
  font-size: 20px;
  margin-bottom: 1rem;
}

.producto1__comprar {
  background-color: tomato;
  color: bisque;
  border: 2px solid bisque;
  border-radius: 5rem;
}

.productoboot {
  background-color: snow;
}

.productoboot__img {
  transition: all 0.5s;
}

.productoboot__img:hover {
  cursor: pointer;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

.tarjeta {
  background-color: white;
  color: #0f0e0e;
  min-height: 400px;
  padding: 16px;
  border: 5px double orange;
  border-radius: 32px;
  margin: 32px;
  position: relative;
}

.tarjeta__imagen {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 32px;
}

.tarjeta__titulo {
  color: #9b2d05;
  font-size: 28px;
  text-align: center;
  padding: 1rem;
  border: 5px groove  yellowgreen;
  margin: 1rem;
}

.tarjeta__parrafo {
  color: grey;
  font-size: 20px;
  text-align: center;
}

.tarjeta__oferta {
  background-color: navy;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  right: 8px;
  top: 8px;
  right: -16px;
  top: -16px;
  right: 1rem;
  top: 1rem;
}

.tarjeta__oferta--distinto {
  top: 1rem;
  left: 1rem;
  right: unset;
}

.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
}

.color {
  background-color: whitesmoke;
  color: orangered;
  border: 2px solid orange;
  border-radius: 2px;
}

.botonera {
  position: relative;
}

.seccion2 {
  background-image: linear-gradient(45deg, black, purple);
  color: #fff;
  padding: 100px 0;
  margin: 16px;
}

main section h1 {
  color: chocolate;
  margin: 16px;
  padding: 8px;
  border: 5px solid grey;
  border-radius: 32px;
  text-align: center;
  font-style: oblique;
}

.purple {
  color: #fff;
  background-color: #ffecc4;
  background-image: linear-gradient(45deg, green, purple);
  text-align: center;
  line-height: 1.6;
  border: 5px solid orange;
  border-radius: 32px;
  padding: 16px 16px 16px 16px;
  min-height: 16px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  text-align: end;
  align-items: center;
}

.rounded {
  background-color: whitesmoke;
  border: 5px double orange;
  border-radius: 32px;
  padding: 5px;
  margin: 16px;
  width: 300px;
  text-align: center;
  font-style: oblique;
}

.orange {
  border: 2px solid orange;
  border-radius: 16px;
  color: #6b4808;
  text-align: center;
}

.paralaxx {
  color: white;
  background-color: gray;
  margin: 50px;
  padding: 30px;
  font-size: 30px;
  background-image: url(https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.seccion {
  padding-top: 1rem;
}

.campos {
  background-color: orange;
  color: #fff;
  width: 400px;
  line-height: 1.5;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  text-align: center;
  border: 2px solid brown;
  border-radius: 5px;
  background-image: url(/imagenes/low-poly-grid-haikei.svg);
}

.BLOGFLEX {
  line-height: 1.6;
  border: 2px solid black;
  border-radius: 2px;
  margin: 16px;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.faq {
  background-color: whitesmoke;
  border: 5px double orange;
  border-radius: 32px;
  padding: 5px;
  margin: 16px;
  width: 300px;
  text-align: center;
  font-style: oblique;
  list-style: none;
}

.purple__menu {
  display: none;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

.preguntas {
  padding: 5px;
  color: blue;
}

.grid {
  border: 2px solid grey;
  padding: 1rem;
  min-width: 300;
  min-height: 500px;
  margin: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "ele1 ele3 ele3" "ele2 ele2 ele4" "ele5 ele6 ele4";
  gap: 10px 20px;
}

.grid__hijo {
  border: 2px solid orange;
  color: black;
  text-align: center;
  position: relative;
}

.grid__hijo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__hijo--1 {
  grid-area: ele1;
  background-color: blueviolet;
}

.grid__hijo--2 {
  grid-area: ele2;
  background-color: aquamarine;
}

.grid__hijo--3 {
  grid-area: ele3;
  background-color: green;
}

.grid__hijo--4 {
  grid-area: ele4;
  background-color: red;
}

.grid__hijo--5 {
  grid-area: ele5;
  background-color: brown;
}

.grid__hijo--6 {
  grid-area: ele6;
  background-color: darkred;
}

.grid__texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1023px) {
  .purple {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .position-relative {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .seccion {
    display: flex;
  }
  .purple {
    flex-direction: row;
    text-align: unset;
  }
  .purple__menu {
    display: block;
  }
  .nav {
    display: none;
  }
  main section h1 {
    border: none;
  }
  .grid {
    display: block;
    font-size: 10px;
  }
  .imgproduto {
    display: block;
  }
  .imgproducto__texto {
    font-size: 10px;
  }
  .imgproducto__frascos {
    height: 75%;
    border: none;
    width: 100%;
  }
  .imgproducto__comprar {
    padding: 0.2rem 0.2rem;
  }
  .orange {
    padding: 16px;
    margin: 16px;
  }
  .campos {
    width: 300px;
    font-size: smaller;
  }
  .produtos1 {
    width: 300px;
  }
  .position-relative {
    display: none;
  }
  .BLOGFLEX {
    display: block;
    border: 5px double orange;
    border-radius: 5px;
  }
  .faq {
    width: 285px;
  }
  h1 {
    font-size: smaller;
  }
  video {
    width: 100%;
  }
}
/*# sourceMappingURL=estilosprofinal.css.map */