@media screen and (max-width: 1023px) {
    

    .purple {
        flex-direction: column;
    }

    
    
}

@media screen and (max-width: 1024px){

    .position-relative{
        display: none;
    }


}

@media screen and (max-width: 600px){



    .seccion{
        display: flex;
    }
    .purple {
        flex-direction: row;
        text-align: unset;
      
    }

    .purple__menu {
        display: block;
    }


    .nav {
        display: none;
    }

    #costado {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 1s;
    }

    #costado:target {
        right: 0;
    }

    .nav__lista {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .nav__item--close {
        display: block;
    }
     
    .nav__item {
        margin-left: 0;
    }

    main section h1 {
        border: none;
    }

   .grid {
       display: block;
       font-size: 10px;
      
   }

   .imgproduto{
       display: block;
        }

    .imgproducto__texto {
        font-size: 10px;
    }

    .imgproducto__frascos{
        height: 75%;
        border: none;
        width: 100%;
    }

    .imgproducto__comprar{
        padding: 0.2rem 0.2rem;
    }

    .orange {
        
        font-size: larger;
        padding: 16px;
        margin: 16px;
    }

    .campos {
        width: 300px;
        
        font-size: smaller;
    }

    .produtos1 {
       width: 300px;
    }
    .position-relative{
        display: none;
    }

    .BLOGFLEX {
        display: contents;
        
        
        
    }

    .paralaxx {
        font-size: medium;
        background-attachment: unset;
    }

    .faq {
        width: 285px;
    }

    h1 {
        font-size: smaller;
    }

 video {
     width: 100%;
 }

 .footer {
    flex-direction: column;
    gap: 40px;
}

.footer__texto {
    order: -1;
}

.footer__marca {
    flex-direction: column;
    gap: 1rem;
    
}
h2{
    font-size: smaller;
}
}