$vista: mobile;
$color: blue;
$tamañofuente: 30px;


@if $vista == joako {

    $color: red;
    

}

@else if $vista == mobile {

    $color: orange;
    $tamañofuente: 20px;
    
    
}

$mapa: (
titulos: white,
subtitulos: chocolate,
navegadores: #fff
);

@each $clave, $valor in $mapa {
    .btn-#{$clave} {
        color: $valor;
    }
}

@mixin seccion2 ($color, $padding, $margin, $background-color) {
    
    color: $color;
    padding: $padding;
    margin: $margin;
    background-color: $background-color
    
}

.caja1 {
    @include seccion2 (#fff, 100px 0, 16px, purple );
    
}

/*    background-image: linear-gradient(45deg, black, purple);
color: #fff;
padding: 100px 0;
margin: 16px; */